header h1
{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

form
{
    text-align: center;
}

form p
{
    display: inline-block;
    padding-right: 50px;
}

form input
{
    text-align: left;
}